<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Coffee House</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
<div class = "header">
  <h1 id="header_label">Собери свой кофе</h1>
  <img th:src="@{/images/logo.png}" alt="" id="logoImg"/>
</div>

  <form method="POST" th:object="${coffeeObj}">
    <div class = "grid">

    <div class = "ingredients-box">

      <div class="block-left">

      <div class="ingredient-group" id="coffee">
        <h3>Выберите кофе</h3>
          <div th:each="ingredient: ${coffee}">
              <input th:field="*{ingredients}" type="checkbox" th:value = "${ingredient.id}"/>
              <span th:text = "${ingredient.name}">INGREDIENT</span><br/>
          </div>
      </div>

      <div class="ingredient-group" id ="milks">
        <h3>Выберите молоко</h3>
        <div th:each = "ingredient: ${milk}">
            <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
          <span th:for="${ingredient.id}" th:text="${ingredient.name}">INGREDIENT</span><br/>
        </div>
      </div>

      </div>

      <div class="block-right">

        <div class="ingredient-group" id="syrup">
          <h3>Добавьте сироп</h3>
          <div th:each="ingredient: ${syrup}" >
              <input th:field="*{ingredients}" type="checkbox" th:value = "${ingredient.id}"/>
              <span th:for="${ingredient.id}" th:text = "${ingredient.name}">INGREDIENT</span><br/>
          </div>
        </div>

        <div class="ingredient-group" id ="additional">
          <h3>Дополнительно</h3>
          <div th:each = "ingredient: ${additional}">
              <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
            <span th:for="${ingredient.id}" th:text="${ingredient.name}">INGREDIENT</span><br/>
          </div>
        </div>

      </div>
    </div>
    </div>

      <div class="submit_form">
        <h3>Назовите свой кофе</h3>
        <input type = "text" th:field="*{name}"/>
        <br/>
        <button>Создать</button>
      </div>
  </form>
</body>
</html>