<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"/>
  <head>
    <title>CoffeeHouse</title>
  </head>
  
  <body>
      <h1>Войти</h1>
      
      <div th:if="${error}"> 
        Введены некорректные данные
      </div>

         <a th:href="@{/register}">Зарегистрироваться:</a> </p>
      
      <form method="POST" th:action="@{/login}" id="loginForm">
        <label th:for="username">Логин: </label>
        <input type="text" name="username"/><br/>
        
        <label th:for="password">Пароль: </label>
        <input type="password" name="password"/><br/>
        
        <input type="submit" value="Login"/>
      </form>
  </body>
</html>